:root {
  --primary-bg: #121212;
  --secondary-bg: #232323;
}

body {
  margin: 0;
  font-family: 'Roboto',  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-bg);
}

code {
  color: #fff;
  font-family: 'Roboto Mono', source-code-pro, Menlo, Monaco, Consolas,
    'Courier New', monospace;
}

span, p, h1, h2, h3, h4, h5, h6 {
  color: #fff;
}
